
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>VAM YÖNTEMİ NEDİR?</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>
<body>
    <div class="container" data-aos="fade-up">
        <div class="img">
            <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (15).png" class="img-fluid" alt="">
        </div>

        <div class="section-header">
            <h1>VAM YÖNTEMİ NEDİR?</h1>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                VAM yöntemi (Vogel’s Approximation Method) ulaşım sorununun ilk uygulanabilir çözümünü hesaplayabilmek için kullanılan işlemdir. Genellikle en iyi çözümü verir.

                <br /> Adım1: Her satır ve sütun için ceza(penalty) değerleri belirlenir.(Her satır ve sütundaki en küçük birim maliyetinden, ikinci küçük birim maliyeti çıkarırız.)

                <br /> Adım2: En büyük cezaya sahip satır ya da sütunu buluruz.(Eşitlik halinde rastgele seçim yapılabilir. )

                Ceza olarak belirlenen satır/sütundaki en düşük maliyetli kutuya mümkün olduğunca en büyük miktarı atayınız.

                Kalan arz ve talepleri hesapla ve sıfırlanan satır ya da sütunu iptal edilir. Aynı anda sıfırlanan satır ya da sütunlar varsa, sadece birini iptal ederek kalan satıra (sütuna) sıfır miktarda arz (talep) atanır.

                <br /> Adım3:
                (a)İptal edilmemiş arz ya da talebe sahip tam bir satır (sütun) kalmışsa durur.

                <br /> (b) İptal edilmemiş pozitif arzlı (talepli) bir satır (sütun) kalmışsa, en düşük maliyetler yöntemiyle satırdaki (sütundaki) temel değişkenleri belirler ve durur.


                <br />(c) İptal edilmemiş satır ve sütunların tümü sıfır arz ve talebe sahipse, en düşük maliyetler yöntemiyle sıfır temel değişkenleri belirler ve durur.

                <br /> (d) Aksi halde Adım 1’e gidilir.
            </p>
        </div>
    </div>
</body>
</html>