
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>VAM YÖNTEMİ NEDİR?</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>
<body>
    <div class="container" data-aos="fade-up">
       

        <div class="section-header">
            <h1>VAM YÖNTEMİ 1.SORU</h1>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (16).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Adım 1: Cezaları belirledik.<br />

                Adım 2: En büyük cezayı belirle . 2. sütundur.

                Ceza olarak belirlenen satır/sütundaki en düşük maliyetli kutuya mümkün olduğunca en büyük miktarı atayınız.
                (2,8,6) 2 değerine mümkün olan en büyük atamayı yapalım.Arz=22 ve fakat talep=12.

                En çok 12 değerini atayabiliriz. Arzdan ve talepten 12'yi çıkararak tabloyu güncelleyelim.
                Talep değeri sıfırlandığı için ikinci sütun bir daha kullanılmamak üzere iptal edilir.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (17).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Bu kez iki tane en büyük ceza değeri var. Bunlardan hangisi en küçük hücre değere sahipse onu seçebiliriz.
                Burada her ikisinin de en küçük değeri 1'dir. O yüzden istenilen seçilir. Burada biz 2.satırda bulunan ceza değerini seçtik.
                En küçük değere atandı ve arz ve talep değerleri yeniden hesaplandı.
                Arz değeri sıfırlandığı için ikinci satır iptal edilir.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (18).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                2. sütundaki talepteki kalan 2 talebimizi kalan en küçük değer olan 4'e atarız.
                1.satır arzı ve 2.sütun talebimizi güncellersek :
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (19).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Ceza hesaplarken iptal edilen satır veya sütun değerleri kullanılmaz. İşlemler bu şekilde devam ettirilir.
                Ve tüm işlemlerimiz bitince tablomuz aşağıdaki gibi olur:
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (20).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Vogel Yaklaşımına Göre Başlangıç Çözüm

                Toplam Maliyet=(2 * 12) + (4 * 2) + (3 * 8) + (1 * 15) + (4 * 7) + (5 * 1) = 104pb
            </p>
        </div>
    </div>
</body>
</html>