
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>VAM YÖNTEMİ</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/HeroBiz/assets/img/favicon.png" rel="icon">
    <link href="/HeroBiz/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/HeroBiz/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/HeroBiz/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/HeroBiz/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/HeroBiz/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/HeroBiz/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="/HeroBiz/assets/css/variables.css" rel="stylesheet">
    <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->
    <!-- Template Main CSS File -->
    <link href="/HeroBiz/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: HeroBiz - v2.2.0
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <main id="main">

        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Vam Yöntemi</h2>
                    <p style="color:darkgrey;font-size:medium; word-spacing:3px;">
                        Vam metodunu incelemeden önce gelin ulaştırma problemlerindeki amacımız üzerinde biraz duralım.

                        Ulaştırma modeli, doğrusal programlama probleminin özel bir şeklidir. Bu modelde, malların kaynaklardan (fabrika gibi ) hedeflere (depo gibi) taşınmasıyla ilgilenir. Buradaki amaç bir taraftan hedefin talep gereksinimleri ve kaynakların arz miktarlarında denge sağlarken, diğer taraftan da her bir kaynaktan her bir hedefe yapılan taşımaların toplam maliyetini minimum kılacak taşıma miktarının belirlemektedir. Modelde, verilen rota üzerindeki taşıma maliyetlerinin aynı rota üzerindeki taşıma miktarlarıyla doğru orantılı olduğu kabul edilmektedir. Ulaştırma modeli, malların bir yerden bir yere taşınmasından başka, stok kontrolü, işgücü programlama, personel atama gibi alanlarda da kullanılabilmektedir.

                       <br /> Ulaştırma problemlerinde başlangıç çözümü bulmak için kulanılan yöntemler :<br />

                        1. Kuzey-Batı Köşe Yöntemi<br />

                        2. En Düşük Maliyetler Yöntemi<br />

                        3. Sıra / Sütun En Küçüğü Yöntemi<br />

                        4. Vogel Yaklaşımı (VAM)
                    </p>
                </div>

                <div class="row gy-5">

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (12).png" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-activity"></i>
                                </div>
                                <a href="https://localhost:44338/Home/About" class="stretched-link">
                                    <h3>Vam Yöntemi Nedir?</h3>
                                </a>
                               
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (13).png" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-broadcast"></i>
                                </div>
                                <a href="https://localhost:44338/Home/Contact" class="stretched-link">
                                    <h3>Vam Yötemi 1.Örnek</h3>
                                </a>
                                
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (14).png" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-easel"></i>
                                </div>
                                <a href="https://localhost:44338/Home/QUEST%C4%B0ON" class="stretched-link">
                                    <h3>Vam Yötemi 2.Örnek</h3>
                                </a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                   
                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- Vendor JS Files -->
        <script src="/HeroBiz/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/HeroBiz/assets/vendor/aos/aos.js"></script>
        <script src="/HeroBiz/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/HeroBiz/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/HeroBiz/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/HeroBiz/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/HeroBiz/assets/js/main.js"></script>
</main>
</body>

</html>
