
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>VAM YÖNTEMİ NEDİR?</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>
<body>
    <div class="container" data-aos="fade-up">


        <div class="section-header">
            <h1>VAM YÖNTEMİ 2.SORU</h1>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (22).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                XYZ Rent A Car şirketi arabalarını iki merkezden kiraya vermektedir.
                Arabaları kiralamak isteyen kişilerin talepleri sırasıyla, 9, 6, 7 ve 9 araba’dır.
                Şirketin elinde fazladan 1.merkezde 15, 2.merkezde ise 13 araba vardır. 
                Kira sözleşmesine göre arabaların işleri bittikten sonra kiralanan merkeze teslim edilmeleri gereklidir.
                Arabaların kiraya verildikleri merkez ile müşterilerin bulundukları yerler arasındaki birim taşıma maliyetleri aşağıdaki gibidir.


            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (21).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Bize verilen tabloya baktığımızda, merkezlerden kiraya verilebilecek toplam araba sayısının 28, 
                araba talebinin 31 olduğu görülür. Bu nedenle, 31 – 28 = 3 birimlik talebi karşılayacak yapay bir 
                kiralama merkezinin probleme eklenmesi gerekir.
                Bu işlem yapıldığında, ulaştırma tablosu yukardaki tablo gibi olacaktır.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (24).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                VAM Yöntemiyle çözüme başlamak içn yapacağımız ilk şey, her satır ve sütun için ceza maliyetlerini belirlemektir.
                Ceza maliyetlerini bulabilmek için her satır ve sütun için en düşük iki maliyet değeri arasındaki farklar hesaplanır.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (23).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                En büyük ceza maliyeti 4.sütundadır.
                Bu nedenle 4.sütundaki en küçük maliyetli hücreye olabilecek en büyük miktar yani 3 birim dağıtılır.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (26).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                En büyük ceza maliyeti 1.sütundadır.
                Bu nedenle 1.sütundaki en küçük maliyetli hücreye olabilecek en büyük miktar yani 9 birim dağıtılır.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (25).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                En büyük ceza maliyeti 1.satırdadır.
                Bu nedenle 1.satırdaki en küçük maliyetli hücreye olabilecek en büyük miktar yani 6 birim dağıtılır.
                En büyük ceza maliyeti 2.satırdadır. Bu nedenle 2.satırdaki en küçük maliyetli hücreye olabilecek en büyük miktar yani 7 birim dağıtılır.

                4.sütunu dengelemek için, kalan 6 birimlik arz X14’e ve kalan 3 birim, X21’e atanır. Sonuçta aşağıdaki başlangıç çözümü elde edilir.
            </p>
            <div class="img">
                <img src="~/HeroBiz/assets/img/Ekran Görüntüsü (27).png" class="img-fluid" alt="">
            </div>
            <p style="color:black;font-size:18px; word-spacing:6px;">
                Vogel Yaklaşımına Göre Başlangıç Çözümü

                Toplam maliyet = 6 x 17 + 3 x 21 + 6 x 30 + 9 x 14 + 4 x 19 + 3 x 0 = 547
            </p>
        </div>
    </div>
</body>
</html>